.svg-container {
    width: 100%;
    height: 800px;
    border: 1px red solid;
    position:absolute;
    top: 100px;
}

.moving {
    animation: moving 10s forwards;
    animation-timing-function: linear;
    top: 101px;
}

@keyframes moving {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(800px);
    }
}

.growing {
    animation: growing 10s forwards;
    animation-timing-function: linear;
}

@keyframes growing {
    from {
        height: 1px;
    }
    to {
        height: 800px;
    }
}

