body {
    background-color: black;
    color: white;
}

#polar-vortex-loom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.polar-vortex-title {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.visualisation {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 40rem;
    height: 40rem;
    align-self: center;
}

.visualisation__cell {
    justify-self: stretch;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid #666;
}

.readouts {
    display: flex;
    flex-direction:row;
    column-gap: 10rem;
}

.attraction__container, .rotation__container {
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    border: 1px solid #666;
    border-radius: 50%;
    align-items: center;
    text-align: center;
}


.midi-selectors {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 150%;
}

.midi-selectors label {
    align-self: center;
}

.note-input,  .ui-output {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.note-input select, .ui-output select,
.note-input button, .ui-output button {
    padding: 1rem;
    border-radius: 0.2rem;
}

.note-input select, .ui-output select {
    border: 1px solid white;
    background-color: black;
    color: white;
}

.note-input button, .ui-output button {
    border: 1px solid black;
    background-color: white;
    color: black;
}
